.container {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.card {
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 1rem;
}

.method_container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.method_container > a {
    text-decoration: inherit;
    color: inherit;
    display: flex;
    border: var(--foreground) 1px solid;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.method_container > a > * {
}

@media screen and (max-width: 768px) {
    .card {
        margin: 0;
        padding: 0.5em;
    }
}