@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --foreground: rgba(255, 255, 255, 0.87);
    --background-color: #242424;

    --primary-color: #164b65;
    --secondary-color: #0e3645;

    color-scheme: light dark;
    color: var(--foreground);
    background-color: var(--background-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --panel-color: #3c3c3c;
}

body, html {
    margin: 0;
    padding: 0;
}

@media (prefers-color-scheme: light) {
    :root {
        --foreground: #213547;
        --background-color: #e2e4d3;

        --primary-color: #C0B9DD;
        --secondary-color: #34D1BF;

        --panel-color: #ced5b3;
    }
}
